<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Todo</span>
    </li>
    <li ng-class=" {'active': makeActiveFilter('all')} " ng-click="setActiveFilter('all');">
        <a>
            <i class="glyphicon glyphicon-th-list icon text-info-dker"></i>
            <span class="font-bold">All</span>
        </a>
    </li>
    <li ng-class=" {'active': makeActiveFilter('active')} " ng-click="setActiveFilter('active');">
        <a>
            <i class="glyphicon glyphicon-unchecked icon text-info-lter"></i>
            <span class="font-bold">Active</span>
        </a>
    </li>
    <li ng-class=" {'active': makeActiveFilter('completed')} " ng-click="setActiveFilter('completed');">
        <a>
            <i class="glyphicon glyphicon-check icon text-info-lter"></i>
            <span class="font-bold">Completed</span>
        </a>
    </li>
</ul>

