<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="mainController">
    <!-- column -->
    <div class="col w-lg lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <a href class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="createTodo()">New</a>
                <div class="h4">Todos</div>
            </div>
            <div class="wrapper b-t m-t-xxs">
                <div class="input-group">
                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="search" ng-model="query">
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">
                            <div class="list-group">
                                <a ng-repeat="todo in todos | filter:query | filter:computeFilter | orderBy:'date':true" class="list-group-item b-l-{{todo.color}} b-l-3x hover-anchor" ng-class="{'hover': todo.selected }" ng-click="selectTodo(todo)">
                                    <span ng-click='deleteTodo(todo._id)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                    <span class="block text-ellipsis">{{ todo.text ? todo.text : 'Empty todo' }}</span>
                                    <small class="text-muted">{{ todo.date | fromNow }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
    <!-- column -->
    <div class="col">
        <div class="vbox">
            <div class="wrapper bg-light lt b-b">
                <span class="text-muted">Created on:</span> <span>{{ todo.date  | date:'MMM-dd-yyyy H:mm' }}</span>
                <div class="m-l inline dropdown">
                    <a class="dropdown-toggle v-middle pos-rlt inline bg-{{todo.color}}" style="width:16px;height:16px;top:-2px"></a>
                    <div class="dropdown-menu animated fadeInUp w wrapper">
                        <a ng-repeat="color in colors" class="inline m-xs bg-{{color}}" style="width:18px;height:18px" ng-click=" todo.color = color; updateTodo(todo)"></a>
                    </div>
                </div>
                <div class="nline pull-right">
                    <label class="i-checks">
                        <input type="checkbox" ng-model="todo.done" ng-change="updateTodo(todo)"><i></i> Done
                    </label>
                </div>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <textarea class="form-control no-radius no-border no-bg wrapper-lg text-md" style="height:100%;" ng-model="todo.text" ng-change="updateTodo(todo)">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->
