<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class=" {'active': makeActiveFilter('all')} " data-active-filter="all"><a href="#" ng-click="setActiveFilter('all')">All Todos</a></li>
        <li ng-class=" {'active': makeActiveFilter('active')} " data-active-filter="active"><a href="#" ng-click="setActiveFilter('active')">Active</a></li>
        <li ng-class=" {'active': makeActiveFilter('completed')} " data-active-filter="completed"><a href="#" ng-click="setActiveFilter('completed')">Completed</a></li>
    </ul>
</div>
