<form name="todoForm" novalidate>
    <div class="form-group" ng-class="{ 'has-danger': todoForm.todoText.$touched && todoForm.todoText.$invalid }">
        <input name="todoText" class="form-control form-control-lg" type="text" placeholder="What do you want to do?" ng-model="formData.text" required ng-maxlength="50" ng-change="todoForm.todoText.$setTouched()">
    </div>
    <div ng-messages="todoForm.todoText.$error" role="alert" ng-if="todoForm.todoText.$touched">
        <div ng-messages-include="templates/utils/messages.html"></div>
    </div>
    <button type="submit" class="btn btn-danger btn-lg btn-block" ng-click="saveTodo()" ng-disabled="todoForm.$invalid">Add</button>
</form>
