<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/todo.css">
</head>

<body class="container" ng-controller="todoController">
    <div ng-include=" 'templates/block/navbar.html' "></div>
    <div class="container-fluid">
        <div class="row">
            <div ng-include=" 'templates/block/nav.html' "></div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="jumbotron text-center">
                    <h1>I'm a Todo-aholic <span class="label label-info">{{todos.length}}</span></h1>
                </div>
                <div class="row">
                    <form>
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="text" placeholder="What do you want to do?" ng-model="formData.text">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add</button>
                    </form>
                </div>
                <div class="card list-todo">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" ng-repeat="todo in todos">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> {{todo.text}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascript/controllers/main.js"></script>
</body>

</html>
